<div class="container">
  <br>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="form">
        <div class="header">
          <h5>Registration</h5>
        </div>
        <div *ngIf='errorMessage' class="alert alert-danger custom-err">
          {{errorMessage}}
        </div>

        <div *ngIf='successMsg' class="alert alert-success custom-err">
          {{successMsg}}
        </div>

        <form novalidate #registrationForm='ngForm' (ngSubmit)='onSubmit(registrationForm)'>
          <div class="form-group">
            <label for="username">Username</label>
            <input #username='ngModel' required [(ngModel)]='formData.username' name="username" type="text"
              class="form-control"
              [class.is-invalid]='username?.errors?.required && !(username.valid || username.pristine)' id="username"
              aria-describedby="usernameHelp" placeholder="Username">
            <div *ngIf='username?.errors?.required && !(username.valid || username.pristine)' class="invalid-feedback">
              Required
            </div>
            <small id="usernameHelp" class="form-text text-muted">You will use this username to login</small>
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input #email='ngModel' required [email]='true' [(ngModel)]='formData.email' name="email" type="email"
              class="form-control" [class.is-invalid]='email?.errors?.required && !(email.valid || email.pristine)'
              id="email" aria-describedby="emailHelp" placeholder="Enter email">
            <div *ngIf='email?.errors?.required && !(email.valid || email.pristine)' class="invalid-feedback">
              Required
            </div>
            <div *ngIf='email?.errors?.email' class="invalid-feedback">
              Invalid email format
            </div>
            <small id="emailHelp" class="form-text text-muted">We will not sell your email.</small>
          </div>

          <div class="form-group">
            <label for="password">Password</label>

            <div class="input-group input-control">
              <input #password='ngModel' required [(ngModel)]='formData.password' name="password"
                [type]="passwordInputType?'password':'text'" class="form-control"
                [class.is-invalid]='password?.errors?.required && !(password.valid || password.pristine)' id="password"
                placeholder="Password">

              <div (click)='togglePasswordInpType()' class="input-group-append">
                <span class="input-group-text v-pass">
                  <span class="material-icons">
                    {{hide ? 'visibility_off' : 'visibility'}}
                  </span>
                </span>
              </div>
            </div>
          </div>

          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="logme">
            <label class="form-check-label" for="logme">Login me in</label>
          </div>
          <div class="sign-up-btn">
            <button type="submit" [disabled]='registrationForm.invalid' class="btn btn-warning">Register</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
