<app-navbar></app-navbar>
<div class="container">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="posts">
          <div class="container">
            <div class="row">
              <div class="col-md-12 card-auto" *ngFor='let post of posts'>
                <div class="card p-3 text-left h-100">
                  <blockquote class="blockquote mb-0">
                    <p>{{post.description}}</p>
                    <footer class="blockquote-footer">
                      <small class="text-muted">
                        <cite title="Source Title">{{post.title}}</cite>
                      </small>
                    </footer>
                  </blockquote>
                  <p class="card-text"><small class="text-muted">Date published {{post.pub_date | date:'short'}}</small>
                  </p>
                  <a routerLink='/post/{{post.id}}'>Read</a>
                </div>
              </div>
              <div class="col-md-12">
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-end">
                    <li *ngFor='let pageInd of paginator' class="page-item"><a class="page-link p-link"
                        (click)='getData(pageInd)'>{{pageInd}}</a></li>
                  </ul>
                </nav>
              </div>
            </div>

            <div *ngIf='!posts?.length' class="row">
              <div class="col-md-12">
                <div class="alert alert-info">
                  No Post At The Moment <a routerLink='/new-post'>Add New</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-5 posts">
        <div *ngIf='topPost;else noPost' class="card p-3 text-left h-100">
          <div class="card-title">
            <p class="text-warning">Top Post</p>
          </div>
          <blockquote class="blockquote mb-0">
            <p>{{topPost?.description}}</p>
            <footer class="blockquote-footer">
              <small class="text-muted">
                <cite title="Source Title">{{topPost?.title}}</cite>
              </small>
            </footer>
            <p>{{topPost?.content}}</p>
          </blockquote>
          <p class="card-text"><small class="text-muted">Date published {{topPost?.pub_date | date:'short'}}</small></p>
          <a routerLink='/post/{{topPost?.id}}'>view</a>
        </div>

        <ng-template #noPost>
          <div class="card">
            <div class="card-body">
              <div class="text-center alert alert-info">
                Top Post
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
